main {
    width: 100%;
    font-size: 1rem;
}


h1 {
    margin-left: 50%;
    margin-top: 3em;
    margin-bottom: 2em;
    color: blue;
    font-size: 3rem;
}

#cont-img {
    max-width: 100%;
    width:50%;
    margin-left: 10%;
}

.cont-inf ul {
    padding:24px 0;
    background-color: rgb(191, 230, 245);
}

.cont-inf ul li {
    display: flex;
    margin-left: 100px;
    margin-bottom: 10px;
    color: rgb(10, 2, 87);
}

.social-media img{
    max-width: 100px;
    width:100%;
}

.social-media {
    display: flex;
    justify-content:space-between;
    margin: 120px 30%;
}

.cont-people h2{
    color: rgb(17, 2, 85);
    padding-left: 20%;
    text-shadow: 2px 2px 5px rgb(214, 236, 241);
}

.people {
    display: flex;
    margin: 6% 1%;
}

.people img {
    padding-right: 50px;
    width: 300px;
    height: 200px;
}


@media (max-width:800px) {
    #cont-img {
        padding:0%;
        margin: 0%;
    }

    main {
        font-size: 2.5vw;
    }

    h1 {
        font-size: 6vw;
    }

}

@media (max-width:741) {
    #cont-img {
        max-width:100%;
        margin-left: 0%;
    }

    .people {
        margin:20% 2%;
        flex-direction: column;
        max-width:100%;
    }
    .people img {
       padding: 0%;
       width: 60%;
       max-width:100%;
    }

    .cont-inf ul {
        padding:1%;
        background-color: rgb(191, 230, 245);
        max-width:100%;
    }

    .cont-inf ul li {
        display: flex;
        margin-left: 10%;
        margin-bottom: 5%;
        color: rgb(10, 2, 87);
        max-width:100%;
    }
}

@media (max-width:660px) {
    #cont-img {
        max-width:100%;
        margin-left: 0%;
    }

    .people {
        margin:20% 2%;
        flex-direction: column;
        max-width:100%;
    }
    .people img {
       padding: 0%;
       width: 60%;
       max-width:100%;
    }

    .cont-inf ul {
        padding:1%;
        background-color: rgb(191, 230, 245);
        max-width:100%;
    }

    .cont-inf ul li {
        display: flex;
        margin-left: 10%;
        margin-bottom: 5%;
        color: rgb(10, 2, 87);
        max-width:100%;
    }

    h1 {
        margin-left: 22%;
    }

    main {
        font-size: 3vw;
    }

}

@media (min-width:5%) {
    #cont-img {
        max-width:100%;
        margin-left: 0%;
    }

    .people {
        margin:20% 2%;
        flex-direction: column;
        max-width:100%;
    }
    .people img {
       padding: 0%;
       width: 60%;
       max-width:100%;
    }

    .cont-inf ul {
        padding:1%;
        background-color: rgb(191, 230, 245);
        max-width:100%;
    }

    .cont-inf ul li {
        display: flex;
        margin-left: 10%;
        margin-bottom: 5%;
        color: rgb(10, 2, 87);
        max-width:100%;
    }
}




